
@{
    ViewBag.Title = "Login";
}
@model Healthy_Food.Models.Users

<!--home-->
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><i class="bi bi-house-door"></i><a href="index1.html">Home</a></li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--login-->
<div class="container">
    <h2>LOGIN</h2>
    @using (Html.BeginForm(new { htmlAttributes = new { @class = "form-login" } }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(Model => Model.Email)
            @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @type = "email", @class = "form-control", @placeholder = "Enter Email Address..." } })
            @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })          
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Password)
            @Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="cbShowPassword"> Save password</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Login</button><br>            
            <a href="/Users/Register" class="alink">CREATE AN ACCOUNT</a><hr>
        </div>        
    }
</div>
<!--end Login-->
